{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

LIME='\033[0;32m'
RESET_COLOR='\033[0m'

function patch_appcleaner() {
	xxd -p -c 0 "$1/Contents/MacOS/App Cleaner 8" - | \
	sed "s/e00313aae10314aafd7b43a9f44f42a9ff030191c0035fd6ffc300d1fd7b02a9/e00313aae10314aafd7b43a9f44f42a9ff030191c0035fd6200080d2c0035fd6/; \
	     s/4889d84c89f24883c4205b415e5dc30f1f440000554889e54883ec20/4889d84c89f24883c4205b415e5dc30f1f44000048c7c001000000c3/; \
	     s/0914200020d4f44fbea9/0914200020d4c0035fd6/; \
	     s/3e000f0b662e0f1f840000000000554889e5415550/3e000f0b662e0f1f840000000000c34889e5415550/; " | \
	xxd -r -p -c 0 - "$1/Contents/MacOS/App Cleaner 8"
	codesign -f -s - "$1" && xattr -c -r "$1"
	echo -e "${LIME}OK!${RESET_COLOR}"
}; patch_appcleaner "/Applications/App Cleaner 8.app"

function patch_bartender() {
	xxd -p -c 0 "$1/Contents/MacOS/Bartender 5" - | \
	sed "s/00008052d6010014/20008052d6010014/" | \
    	xxd -r -p -c 0 - "$1/Contents/MacOS/Bartender 5"
    	codesign -f -s - "$1" && xattr -c -r "$1"
	echo -e "${LIME}OK!${RESET_COLOR}"
}; patch_bartender "/Applications/Bartender 5.app"


function patch_devonthink() {
   	 find ~/Library/ -maxdepth 1 -type f -name '*.lcf' -exec rm -f {} \; 2>/dev/null
   	 find ~/Library/Application\ Support/ -maxdepth 1 -type f -name '*.guvax3' -exec rm -f {} \; 2>/dev/null
  	 find ~/Library/Preferences/ -maxdepth 1 -type f -name '*.guvax3' -exec rm -f {} \; 2>/dev/null
   	 plist_content="<?xml version=\"1.0\" encoding=\"UTF-8\"?>
<!DOCTYPE plist PUBLIC \"-//Apple//DTD PLIST 1.0//EN\" \"http://www.apple.com/DTDs/PropertyList-1.0.dtd\">
<plist version=\"1.0\">
<dict>
    <key>Data</key>
    <data>
    Orobp28TY2GCum17fmi/PSUy3QlJMFIlmN22YH+2mjWyrHls6DTaFbxcsDzF8aNm4Y44
    29Ph0E/L1BX766jwpCNPfHWhACKuBzt2XCK9Y4VfJJTxW5Fq+0CFhtXv31WApVobC6Ef
    oikrv6WQeRaGT4+qxmUULbTN1bWYe7H966JwdH7gwZsbJomFP1E63LE30q7BWzRfsp9U
    1FvZ+34rH0DuYyQHR+0MSaW+fF86TTHw+s8/5UiZ1DEpweeiNScSaHvD00aflVpjV1cm
    ulzam8kBKTw/Jk2O7iXVP3dSmHFyCMYrTFRIBXpvjzv8XR0cndSCOSscf8VQ3IpY3Ks4
    QYqYrRXU/sFE7Jos4sg0+QxSi5+kAkQSppUraBq8jMqMfPreJAnEpyRPgPbWSI0fxJkC
    jcIqXaLqpL9m6X+Wx/wQx1U6LxjRLUM0yes3tR3fY58V29YTktvfsCwZVTju3qZiSdyB
    P4+s3JQYm3tgsX99LPNzq8Z94hawHOpZ/c6T2IDVlMwxiq5GsnfwbgamXKSFNaCkBxuI
    a6u6Flm7XL889lSZVcxHRVRMnBqNZXQXsZ85I+NC64WcKI7/g03F+H9VzdDKAo6fCrjo
    47eHgCX2l3HedWo6L64AnykBETiKr4ybgKQWXrr6BNsIMHJO/c0AhThgEiPZ36ixHh/A
    AJ6Az3kXCS7WCNMauXkE3n/sjumg5NEY+6yXbjRKoBWHTHwF5+mRG90BJYZURXqriABN
    aJjZOTMQEYZ5+xwshB0H5HKHt7H18ThX237TVTnRtldkJGqP2R8S5OWrRwzNzZGCO6uh
    8SrfOSCHYud0RFMupfrSa86l8rbaX1lcYUmjKRo4RoySKmGASoI6fw8/+629nQtKzdsH
    d7Gbnod/c5+zW9gSqgvQtN11VnR6CaUgaatzJjXAnNg7HdjC1215w+u1ssMbI1vl9XIo
    yKGXYtGQqEO9sC1p0MqjmJmbvvel63wqH3qJ0MvippeSJzf259M=
    </data>
</dict>
</plist>"
   	mkdir -p "$HOME/Library/Application Support/DEVONthink 3"
    	echo "$plist_content" > ~/Library/Application\ Support/DEVONthink\ 3/Registration.plist
	echo "Injecting DEVONthink's license data"
	echo -e "${LIME}OK!${RESET_COLOR}"
}; patch_devonthink

function patch_forklift() {
	xxd -p -c 0 "$1/Contents/MacOS/Forklift" - | \
	sed "s/4531f6eb75/41b603eb75/; s/4c896dd04189fe/4c896dd0b30090/; \
	     s/f30314aafa0300aa/f30314aa1a0080d2/; s/000080521f000014/600080521f000014/; " | \
	xxd -r -p -c 0 - "$1/Contents/MacOS/Forklift"
	codesign -f -s - "$1" && xattr -c -r "$1"
        defaults write com.binarynights.ForkLift registrationData -data "7B226C6963656E73654B6579223A22424E464C343031312D46454544464143452D43414645424142452D4142434445463030222C226C6963656E73655F74797065223A312C226E616D65223A22412E4C2E492E432E45222C227175616E74697479223A31302C227369676E6174757265223A2242433241413743463130344641364237424237443134373236313139323642434631363038373830222C2276616C696469747944617465223A3934363638313230307D"
	echo -e "${LIME}OK!${RESET_COLOR}"
}; patch_forklift "/Applications/ForkLift.app"

function patch_movist_pro() {
	xxd -p -c 0 "$1/Contents/MacOS/Movist Pro" - | 
	sed "s/f8600000b4f30300aa0a/f81f2003d5f30300aa0a/; 
	     s/74054889fbeb29/66904d89fbeb29/;" | 
	xxd -r -p -c 0 - "$1/Contents/MacOS/Movist Pro"
	codesign -f -s - "$1" && xattr -c -r "$1"
	echo -e "${LIME}OK!${RESET_COLOR}"
}; patch_movist_pro "/Applications/Movist Pro.app"

function patch_pdfexpert() {
    xxd -p -c 0 "$1/Contents/MacOS/PDF Expert" | \
    sed -E "s/20010037b5060091/09000014b5060091/; \
             s/150080d2e00314aae10315aafd7b44/350080d2e00314aae10315aafd7b44/; \
             s/80020012fd7b47/20008052fd7b47/; \
             s/00008052fd7b47a9f44f46a9f65745a9f85f44a9fa6743a9fc6f42a9/20008052fd7b47a9f44f46a9f65745a9f85f44a9fa6743a9fc6f42a9/" | \
    xxd -r -p -c 0 - "$1/Contents/MacOS/PDF Expert"
    codesign -f -s - "$1" && xattr -c -r "$1"
    echo -e "${LIME}OK!${RESET_COLOR}"
}
patch_pdfexpert "/Applications/PDF Expert.app"
{{ end -}}
